<ng-include src = "'template/header.html'"></ng-include> 

<div class = "container-fluid-replace container-fluid ">
    <div class = "general-container">
        <ul class = "gallery-ul">
            <li ng-repeat = "item in items" class = "scale-fade" ng-click = "open(item)">
                <div class="general-my-img ih-item square effect6 from_left_and_right ">
                    <a href="">
                        <div class="img">
                            <img src="img/gallery/general/{{item.img_small}}" class = "test-general-img" alt="img">
                        </div>
                        <div class="info">
                            <h3>Heading here</h3>
                            <p>Description goes here(193x191px)</p>
                        </div>
                    </a>
                </div>
            </li>
            </ul>
     </div>
    
    
    <div class = "container general-second-container-text">
            <div class = "col-md-12 text-center ">
                <h2>ДЛЯ ДУШЕВНИХ ФОТО НЕ ПОТРІБНО БУТИ МОДЕЛЯМИ!</h2>
                <h5>Відкритість, щирість і легкість не потребує акторської майстерності.
        Залишайтеся собою, це завжди актуально!</h5>
            </div>
    </div>
    <div class = "container general-margin-top">
        <div class = "col-md-3 general-center">
            <img src="img/general/one.jpg" >
                <h3> ВИ СПРАВЖНІ!</h3>
                <h6>Ваші емоції і почуття для мене найцінніші!
                    Радість,тепло і душевність-це те, що ми збережемо назавжди.</h6>
        </div>
        <div class = "col-md-3 general-center">
            <img src="img/general/one.jpg" >
            <h3> ВИ СПРАВЖНІ!</h3>
            <h6>Ваші емоції і почуття для мене найцінніші!
                    Радість,тепло і душевність-це те, що ми збережемо назавжди.</h6>
        </div>
        <div class = "col-md-3 general-center"> 
            <img src="img/general/one.jpg" >
            <h3> ВИ СПРАВЖНІ!</h3>
            <h6>Ваші емоції і почуття для мене найцінніші!
                    Радість,тепло і душевність-це те, що ми збережемо назавжди.</h6>
        </div>
        <div class = "col-md-3 general-center"> 
            <img src="img/general/one.jpg" >
            <h3> ВИ СПРАВЖНІ!</h3>
            <h6>Ваші емоції і почуття для мене найцінніші!
                    Радість,тепло і душевність-це те, що ми збережемо назавжди.</h6>
        </div>
    </div>
    <div class = "container general-margin-top">
        <div class = "row">
            <p class = "text-center text-title-second">Відгуки клієнтів</p>
            <img class = "general-line" src="img/general_line.png" alt="">
        </div>
        <div class = "row">
            <div class = "col-md-12 text-center client-feetback">
                <img  src="img/general/photo_one.png">
                <img  src="img/general/photo_one.png">
            </div>
        </div>
    </div> 
</div>                 