<div class = "container-fluid blog-general-fluid-bg">
    <div class = "header-general-container">
        <div class = "row">
            <div class ="col-md-6 header-logo">
                <a href = "#/">
                    <img src="img/header/logo.png">
                </a>
            </div>
            
            
            <div class = "col-md-6 header-menu">
                <ul class="nav navbar-nav header-menu-right-side">
                    <li class = "menu-li two"><a class = "three" ng-href="#/"> Головна</a></li>
                    <li class = "dropdown menu-li"><a href=""> Галерея <span class="caret"></span></a>
                        <ul class = "dropdown-menu sub-menu">
                            <li class = "dropdown menu-li-drop"><a ng-href = "#/wedding"> Весільна фотосесія</a></li>
                            <li class = "dropdown menu-li-drop"><a ng-href = "#/private"> Приватна фотосесія</a></li>
                        </ul>
                    </li>
                    <li class = "menu-li"><a ng-href = "#/blog"> Блог</a></li>
                    <li class = "menu-li"><a ng-href = "#/contact"> Контакти</a></li>
                    <li class = "menu-li"><a ng-href = "#/about"> Про мене</a></li>
                </ul> 
                <a class = "header-icon-a" href="https://www.facebook.com/iryna.chunys" target="_blank" >
                    <img class = "heade-icon" src = "img/header/facebook.png"
                        onmouseover="this.src='img/header/facebook_active.png'"
                        onmouseout="this.src='img/header/facebook.png'">
                </a>
                <a class = "header-icon-a" href="https://instagram.com/chunys_iryna/" target="_blank">
                    <img class = "heade-icon" src = "img/header/instagram.png"
                        onmouseover="this.src='img/header/instagram_active.png'"
                        onmouseout="this.src='img/header/instagram.png'">
                </a>
            </div>
        </div>
    </div>
</div>




